[submodule "site-lisp/auctex"]
    path = site-lisp/auctex
    url = https://github.com/jwiegley/auctex.git

[submodule "site-lisp/cedet"]
    path = site-lisp/cedet
    url = https://github.com/emacsmirror/cedet.git

[submodule "site-lisp/find-file-in-project"]
    path = site-lisp/find-file-in-project
    url = https://github.com/technomancy/find-file-in-project.git

[submodule "site-lisp/tuareg"]
    path = site-lisp/tuareg
    url = https://github.com/emacsmirror/tuareg.git

[submodule "site-lisp/scala-mode2"]
    path = site-lisp/scala-mode2
    url = https://github.com/hvesalai/scala-mode2.git

[submodule "site-lisp/emacs-ctable"]
    path = site-lisp/emacs-ctable
    url = https://github.com/kiwanami/emacs-ctable.git

[submodule "site-lisp/emacs-deferred"]
    path = site-lisp/emacs-deferred
    url = https://github.com/kiwanami/emacs-deferred.git

[submodule "site-lisp/auto-complete"]
    path = site-lisp/auto-complete
    url = https://github.com/auto-complete/auto-complete.git

[submodule "site-lisp/s"]
    path = site-lisp/s
    url = https://github.com/magnars/s.el.git

[submodule "site-lisp/dash"]
    path = site-lisp/dash
    url = https://github.com/magnars/dash.el.git

[submodule "site-lisp/emacs-epc"]
    path = site-lisp/emacs-epc
    url = https://github.com/kiwanami/emacs-epc.git

[submodule "site-lisp/emacs-jedi"]
    path = site-lisp/emacs-jedi
    url = https://github.com/tkf/emacs-jedi.git

[submodule "site-lisp/flycheck"]
    path = site-lisp/flycheck
    url = https://github.com/lunaryorn/flycheck.git

[submodule "site-lisp/haskell-mode"]
    path = site-lisp/haskell-mode
    url = https://github.com/haskell/haskell-mode.git

[submodule "site-lisp/helm"]
    path = site-lisp/helm
    url = https://github.com/emacs-helm/helm.git

[submodule "site-lisp/multiple-cursors"]
    path = site-lisp/multiple-cursors
    url = https://github.com/magnars/multiple-cursors.el.git

[submodule "site-lisp/php-mode"]
    path = site-lisp/php-mode
    url = https://github.com/ejmr/php-mode.git

[submodule "site-lisp/smartparens"]
    path = site-lisp/smartparens
    url = https://github.com/Fuco1/smartparens.git

[submodule "site-lisp/yaml-mode"]
    path = site-lisp/yaml-mode
    url = https://github.com/yoshiki/yaml-mode.git

[submodule "site-lisp/yasnippet"]
    path = site-lisp/yasnippet
    url = https://github.com/capitaomorte/yasnippet.git

[submodule "site-lisp/markdown-mode"]
	path = site-lisp/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "site-lisp/distraction-free"]
	path = site-lisp/distraction-free
	url = https://github.com/inffcs00/emacs-distraction-free.git
